.keydates-schedule {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.keydates-schedule th {
    text-align: center;
    font-weight: bold;
    background-color: #3C78B5;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 14px;
}

.keydates-schedule td {
    border: 1px solid #000000;
    text-align: center;
    font-size: 14px;
    color: #000000;
    padding: 5px;
    font-weight: bold;
}

.keydates-schedule td.key-date {
    font-weight: normal;
    cursor: pointer;
}

.keydates-schedule td.key-date:hover {
    background-color: #171B65;
    color: #FFFFFF;
}
