body {
	font-family: Tahoma;
}
.groupName, .groupLocation {
	color: #003366;
	font-size: 26px;
	font-weight: bold;
}
.groupName {
	text-align: right;
	display: inline-block;
}

.groupLocation, .groupStageTitle, .groupStage {
	text-align: left;
	display: inline-block;
}

.groupStageTitle {
	color: #003366;
}

.groupStage {
	color: #3C78B5;
}

.groupStage, .groupStageTitle {
	font-weight: bold;
	font-size: 16px;
	height: 50px;
	line-height: 60px;
}

.contentGroupName {
	float: right;
}

.content-header-location, .content-header-group-name {
	display:inline-block;
}

.content-header-group-name {
	float: right;
}

