.group-list-view {
    position: relative;
    height: 100%;
}

.group-list-header {
    display: block;
}

.search {
    margin-left: 40px;
    margin-top:20px;
    font-size: 2em;
    display: inline-block;
}

.paginator-place-holder {
    text-align: center;
    white-space: pre;
    width:150px;
    display:inline-block;
    padding: 5px;
    float: right;
    margin: 20px;
    right: 40px;
}

.left-nav, .right-nav {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.group-collection {
    margin-left:10px;
    margin-right:10px;
}

.group-list-footer {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.stage-toggle {
    float: right;
    margin-right: 49px;
    display: inline-block;
}

.small-group-view {
    font-size: 1.7em;
    display: inline-block;
    margin: 2% 5%;
    vertical-align: top;
    padding: 10px;
    background: #3C78B5;
    height: 110px;
    width: 40%;
    text-align: center;
    color: white;
    cursor: pointer;
    word-wrap: break-word;
}

.myGroups {
    background: #3C78B5;
    color: white;
    margin-left: 15px;
    padding:15px;
    border-radius: 1em;
}


.chosen {
    background: #003366;
    color: white;
}