.group_coordination, .group_info {
	display: inline-block;
}

.group_coordination {
	margin-right: 20%;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.info h3 {
    margin: 12px 0px;
	text-align: left;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    color: #333333;
    font-size: 14px;
}

.tg td {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #dedede;
    padding: 9px 10px;
}

.tg th {
    border-color: #dedede;
    height: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    background-color: #f0f0f0;
}

td:nth-child(2) {
    font-style: italic; 
}

.group_info td:nth-child(2) {
    font-style: normal; 
}