.group-list-view {
    position: relative;
    height: 100%;
}

.group-list-header {
    display: block;
}

.search {
    font-size: 2em;
    display: inline-block;
}

.search > img {
    padding-left: 40px;
    padding-top: 15px;
    width: 70px;
}

.paginator-place-holder {
    text-align: center;
    white-space: pre;
    width:150px;
    display:inline-block;
    float: right;
    margin: 20px;
    right: 40px;
}

.left-nav, .right-nav {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.group-collection {
    margin: 0 10px;
}

.group-list-footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
}

.stage-toggle {
    position: inherit;
    top: 25%;
    right: 5%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label div {
    background: #171B65;
}

input[type="radio"] + label > div {
    width: 20px;
    height: 20px;
    background: #3C78B5;
    border-radius: 50%;
    margin-right: 5px;
}

input[type="radio"] + label {
    margin-bottom: 0;
    vertical-align: middle;
}

.small-group-view {
    padding: 5px 10px;
}

.small-group-view > div {
    height: 80px;
    background: #3C78B5;
    display: flex;
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
}

.small-group-view > div > p {
    font-size: 1.5em;
    padding: 10px; 
    color: white;
    cursor: pointer; 
    margin: auto;
}

.myGroups {
    background: #3C78B5;
    color: white;
    padding: 10px;
    border-radius: 1em;
}


.chosen > div {
    background: #171B65;
    color: white;
}