.locationsWindow {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

.active-location {
    background: #fff!important;
    box-shadow: none;
    color: #3C78B5!important;
/*    border: 2px solid #3C78B5;*/
}

.location-buttons {
    text-align: right;
    margin-bottom: 30px;
}

.location-buttons button {
    background-color: transparent;
    color: #FFFFFF
}

.location-buttons button:hover,
.location-buttons button:focus {
    color: #3C78B5;
}

.location-buttons button.disabled {
    color: #323232;
}

.location-buttons .save {
    margin-right: 10px;
}

.location {
    width: 170px;
    height: 100px;
    cursor: pointer;
    background: #3C78B5;
    display: inline-block;
    font-size: 26px;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 8px;
    margin-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.location:nth-child(4){
    margin-right:0px;
}

.locations {
    width: 740px;
}

.location-wrapper {
    background: #171B65;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.location-buttons .icon  {
	float: right;
}