.locationsWindow {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

.location {
    width: 168px;
    height: 98px;
    background: #3C78B5;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
    border: 2px solid #3C78B5;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.active-location {
    background: #003366!important;
    box-shadow: none;
    color: #fff!important;
    box-shadow: none;
    border: 2px solid #3C78B5;

}

.locationsWindow .submit:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: #3C78B5;
}

.locationsWindow .submit {
    float: right;
    margin-bottom: 20px;
    background: url('../img/submit_arrow.png') no-repeat -2px;
    width: 30px;
    height: 30px;
    border: 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    outline: 0;
}

.location-buttons {
    height: 30px;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 15px;
}

.location-buttons .save, .location-buttons .cancel {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.wrapper-location {
    width:100%;
    margin: 0 auto;
    padding-left: 21%;
    padding-right: 20%;
    padding-top: 40px;
    background: #003366;
}

.location-buttons .save, .location-buttons .cancel {
    width: 30px;
    height: 30px;
    text-align: right;
    color: #fff;
    font-size: 26px;
    float: none;
}

.location-buttons .save {
    color: white;
}

.active-button {
    color: #fff!important;
}

.location {
    width: 170px;
    height: 100px;
    background: #3C78B5;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 26px;
    color: #fff;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 8px;
    margin-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.locationsButton {
    position: absolute;
    right: 45px;
}