.groupView {
    margin-top: 20px;
}

.group-controls {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.group-controls .buttons-wrapper {
    display: flex;
}

.group-controls .btn-group {
    float: right;
}

.group-controls .btn-group .btn {
    color: white;
    font-weight: lighter;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    background-color: #3C78B5;
    width: 50px;
    height: 38px;
    border-radius: 0.2em;
    padding: 0;
    margin-right: 2px;
    outline: 0;
    z-index: 0;
}

.group-controls .btn-group .btn:last-of-type {
    margin-right: 0;
}

.group-controls .btn-group .btn:hover {
    background-color: #171B65;
    cursor: pointer;
}

.group-controls .btn-group .btn.active {
    background-color: #171B65;
}

.editBtn, .deleteBtn {
    color: #3C78B5;
    display: inline-block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    box-shadow: none !important;
    padding: 0;
}

.editBtn {
    margin-right: 20px;
}

.editBtn:hover, .deleteBtn:hover,
.editBtn:focus, .deleteBtn:focus {
    outline: 0 !important;
    color: #171B65;
    background-color: white;
    box-shadow: none;
}

.groupContainer {
    margin: 10px auto;
    text-align: center;
    overflow: auto;
}

* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 0px;
}

html, body {
    height: 100%;
    min-width: 1024px;
}

.wrapper {
    height: 100%;
    min-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 20px 0 20px;
}

.header {
    height: 40px;
    background: #171B65;
    position: relative;
}

.logo {
    width: 50%;
    height: 100%;
    float: left;

}

.logo > a {
    display: inline-block;
    height: 100%;
    margin-left: 5px;
}

.logo > a > img {
    height: 100%;
}

.icon {
    width: 50%;
    height: 100%;
    float: left;
}

.top-menu {
    position: absolute;
    top: 0;
}

.right-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 13%;
    transition: 0.4s;
}

.right-menu.open {
    transition: 0.4s;
    left: 87%;
}

.page {
    height: calc(100% - 50px);
    box-sizing: border-box;
    padding: 14px 0;
}

.left-side-bar {
    width: 23%;
    height: 100%;
    border: #171B65 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    float: left;
}

.content-section {
    width: 65%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 14px;
}

.content-header {
    width: 100%;
    height: 45px;
}

.main-section {
    width: 100%;
    height: 80%;
    border: #171B65 1px solid;
    border-radius: 10px;
    padding: 0 6%;
}

.content-footer {
    width: 100%;
    height: 50px;
}

.right-side-bar {
    width: 12%;
    height: 100%;
    border: #171B65 1px solid;
    border-radius: 10px;
    float: right;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot') format('embedded-opentype'),
    url('../font/fontello.woff2') format('woff2'),
    url('../font/fontello.woff') format('woff'),
    url('../font/fontello.ttf') format('truetype'),
    url('../font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
}