.buttons {
    text-align: center;
    margin-top: 60px;
}

.buttons button {
	background: transparent;
}

.BrowseCV,
.BrowsePhoto {
	width: 120% !important;
    margin-right: 157%;
}

.fa-trash {
	font-size: xx-large;
}

.fa-download {
	font-size: x-large;
}

.gear {
	font-size: x-large;
}