.contextMenu {
    position: fixed;
    top: 0;
    left: -100px;
    transition: .4s;
    height: 100%;
    text-align: center;
    background-color: white;
    width: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contextMenu.open {
    transition: 0.4s;
    left: 0;
    z-index: 4;
    background-color: #323232;
}

.contextMenu button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10% 0;
}

.contextMenu button:hover {
    color: #3C78B5;
}