.left-menu {
    position: fixed;
    top: -20px;
    right: 99%;
    width: 7%;
    transition: 0.4s;
    height: 110%;
    text-align: center;
}

.left-menu.open {
    transition: 0.4s;
    right: 93%;
    display: block;
    z-index: 4;
    background-color: #323232;
}

.left-menu .contextMenu {
    /*background-color: #323232;*/
    height: 100%;
}

.left-menu button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.left-menu button:hover {
    color: #3C78B5;
}

.left-menu > .editContextBtn {
    padding: 0;
    margin: 0;
}

.left-menu .controls{
    position: relative;
    top: 32%;
}