.top-menu {
    position: fixed;
    top: -30px;
    bottom: 99%;
    height: 6rem;
    transition: 0.4s;
   	width: 100%;
    text-align: center;
    padding-right: 25px;
}

.containerMainMenu {
    display: inline-flex;
    justify-content: center;
    width: 90%;
}

.logout {
    font-size: 17px;*/
    padding: 5px 0 5px 0;
     color: white;
    width: 10%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.top-menu.open {
	top: 0px;
    transition: 0.4s;
    display: block;
    z-index: 5;
    background-color: #323232;
    bottom: 82%;
    width: 100%;
}

.itemMenu {
	padding: 10px 10px;
	display: inline-block;
	background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 65px;
    height: 60px;
}

.itemMenu:hover {
	background-color:#3C78B5;
}

.itemMenu > p {
	margin: 0;
}

.activeItem.open {
	background-color:#3C78B5;
}