.locationsWindow {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

.active-location {
    background: #fff!important;
    box-shadow: none;
    color: #3C78B5!important;
}

.location-buttons {
    text-align: right;
    margin-bottom: 30px;
}

.location-buttons button {
    background-color: transparent;
    color: #FFFFFF
}

.location-buttons button:hover,
.location-buttons button:focus {
    color: #3C78B5;
}

.location-buttons button.disabled {
    color: #323232;
}

.location-buttons .save {
    margin-right: 10px;
}

.location {
    margin: 2%;
    width: 21%;
    height: 120px;
    cursor: pointer;
    background: #3C78B5;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.locations {
    width: 64%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.location-wrapper {
    background: #171B65;
    width: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    padding-top: 40px;
}

.location-buttons .icon  {
	float: right;
}