.locationsWindow {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

.active-location > p {
    background: #fff!important;
    color: #3C78B5!important;
}

.location-buttons {
    text-align: right;
    margin-bottom: 30px;
}

.location-buttons button {
    background-color: transparent;
    color: #FFFFFF
}

.location-buttons button:hover,
.location-buttons button:focus {
    color: #3C78B5;
}

.location-buttons button.disabled {
    color: #323232;
}

.location-buttons button {
    margin-right: 15px;
}

.location {
    min-width: 240px;
    width: 25%;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
}

.location > p {
    padding: 15px;
    height: 100%;
    cursor: pointer;
    background: #3C78B5;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.locations {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.location-wrapper {
    background: #171B65;
    width: 100%;
    padding-top: 40px;
}

.location-wrapper > div {
    width: 64%;
    margin: 0 auto;
}