.locationsWindow {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

.location-wrapper {
    background: #171B65;
    width: 100%;
    padding-top: 40px;
}

.location-wrapper > div {
    width: 64%;
    margin: 0 auto;
}

.location-wrapper ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.location {
    width: 25%;
    box-sizing: border-box;
    padding: 25px;
}

.location > p {
    margin: 0;
    min-width: 140px;
    min-height: 90px;
    padding: 5px 10px;
    cursor: pointer;
    background: #3C78B5;
    font-size: 1.7vw;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    -webkit-user-select: none;
    height: 13vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.active-location > p {
    background: #003366;
    border: 3px solid #3C78B5;
}

.location-buttons {
    text-align: right;
    margin-bottom: 30px;
}

.location-buttons button {
    background-color: transparent;
    color: #FFFFFF
}

.location-buttons button:hover,
.location-buttons button:focus {
    color: #3C78B5;
}

.location-buttons button.disabled {
    color: #323232;
}

.location-buttons button {
    margin-right: 25px;
}

.location-buttons button.save {
    margin-right: 10px;
}


