#right-menu {
    height: 100%;
    position: fixed;
}

    #right-menu .profile-container {
        background-color: #323232;
        padding: 20px;
        bottom: 0;
        top: 0;
        right: 0;
        display: flex;
        height: 100%;
    }

    #right-menu button {
        background-color: transparent;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        position: absolute;
    }

    #right-menu .btn-edit {
        top: 10px;
        right: 10px;
    }

    #right-menu .btn-edit:hover,
    #right-menu .btn-logout:hover {
        color: #3C78B5;
    }

    #right-menu .user-info {
        margin: auto;
        text-align: center;
    }
    
    #right-menu .name {
        font-size: 30px;
        margin: 10px 0;
    }

    #right-menu .role {
        font-size: 26px;
    }

    #right-menu .btn-logout {
        bottom: 10px;
        right: 10px;
    }

    #right-menu p {
        text-align: center;
        color: #FFFFFF;
    }