#icon .user-photo {
    position: absolute;
    right: 10px;
    top: -5px;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #323232;
}

    #icon .user-photo img {
        display: inline-block;
        height: 44px;
        width: 44px;
    }